*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  width: 1140px;
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "res cont";
  gap: 30px;
  align-items: end;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  align-items: start;
}

.content__list-container {
  height: 298px;
  overflow-y: scroll;
}

.result {
  grid-area: res;
}

.content__details {
  height: 100%;
  width: 100%;
  grid-area: cont;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 26px;
  align-items: end;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content__list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.content__video-card {
  width: 390px;
  height: 103px;
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 3;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  flex-grow: 0;
  object-fit: contain;
  object-position: center;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
